h2{
    text-align: center;
}

/* le contenair de la grid*/
.gridContainer {
   height: 80vh;
   margin: 40px;
   
}

/* sur le paper*/
.container{
   height: 80vh;
   width: 400px;
   margin: auto;
   align-items: center;
   
}

/* sur le form */
.formStyle {
   margin: 0px auto;
   padding: 10px;
   margin-top: 50px;
}

/* Appliqué sur les field */
.fieldStyle {
   padding-bottom: 5px !important;
   border-radius: 50% !important;
}


/* Bouton */
.buttonStyle {
   background-color: #04A3BD !important;
   margin-bottom: 10px !important;
}
