* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 10px !important;
}
.p2{
    font-size: 14px;
    font-weight: 300px;
    font-style: normal;
    width: 87px;
    height: 19px;

}

.paperStyle {
    width: 65vh;
    padding: 10px;
    margin: 0 auto;
    height: 110vh;

}

/* logo d'entete*/

.logoStyle{
    height: 100px;
    width: 99px;
}

/* TextField */
.textfieldStyle {
    margin-bottom: 5px !important;
    border-radius: 12px !important;
    border: 1px solid red !important;
    width: 440px !important;
    height: 45.58px !important;
}

/* forgetPassword */
.forgetPassword{
    margin-top: 10px !important;
    width: 50%;
    justify-content: start !important;
    padding-left: 10px;
    color: #1D1D1D !important;
}

.memberYet{
    margin-bottom: 30px !important;
    text-align: center;
    width: 100%;
}


/* buttonStyle */
.buttonStyle {
    width: 95% !important;
    border-radius: 12px !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    background-color: white !important;
    color: black !important;
    font-size: 14px !important;
    border: 1px solid black !important;
    margin-left: 10px !important;
}

/* googleStyle */
.googleStyle{
    height: 80px;
    width: 80px;
}

/* facebookStyle */
.facebookStyle{
    height: 60px;
    width: 60px;
}


/* gridDiv */
.gridDive {
    display: flex;
    align-items: center;
    width: 100%;
}

/* logoReaux */
.logoReaux {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    padding-top: 20px;
}
.div1 {
    width: 100%;
    background-color: black;
    height: 1px;
}

.div2 {
    flex: none;
    padding: 0 20px;
}

/* Link color */
