/* Taille generale */
*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}


/* container */
.container{
    padding: 25px;
    height: fit-content;
    margin: 10px auto;
}

/* second div block contain */
.blockContent {
    width: 100%;
    height: fit-content;
}

/* flNameStyle */
.flNameStyle{
    display: flex;
   flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}


/* Button */
.buttonStyle1 {
    margin-left: 10px ;
    outline: none;
    border: none;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 14px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 10px !important;
    width: 100px;
    margin-right: 15px !important;
}

.buttonDivStyle2 {
    display: flex;
    justify-content: space-around;
    padding-top: 20px ;
}

.buttonDivStyle {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    align-items: center;
    gap: 10px;
}


.buttonDivStyle1 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    align-items: flex-end;
    gap: 10px;
}

@media only screen and (min-width: 650px) {
    .flNameStyle, buttonDivStyle{
        flex-direction: row;
    }
  }
  @media only screen and (min-width: 650px) {
    .blockContent{
        max-width: 80rem;
        padding: 10px;
    }
  }