/* Taille generale */
*{
    padding: 0;
    margin: 0;
}
h1 {
    margin-bottom: 10px !important;
}
.p2{
    font-size: 14px;
    font-weight: 300px;
    font-style: normal;
    width: 87px;
    height: 19px;
    text-align: center;
    margin-left: 5px;

}
/* container */
.container{
    width: 50vh;
    padding: 10px;
    margin: 100px auto;
    height: 80vh;
}


/* logo d'entete */
img{
    height: 60px;
    width: 60px;
}

/* flNameStyle */
.flNameStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.flNameStyle1 {
    width: 290px;
    margin: 5px 0;
}



/* Button */
.buttonStyle {
    width: 105%;
    background-color: white;
    margin-left: 10px ;
    outline: none;
    border: none;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 14px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 10px !important;
}

/* Formcontrol */
.fieldStyle{
    margin-left: 30px ;
    width: 108%;
    padding-left: 10px;
}

/* forgetPassword */
.forgetPassword{
    margin-top: 10px !important;
    width: 50%;
    justify-content: start !important;
    padding-left: 10px;
    color: #1D1D1D !important;
}

.memberYet{
    margin-bottom: 30px !important;
    text-align: center;
    width: 100%;
}

/* googleStyle */
.googleStyle{
    height: 80px;
    width: 80px;
}

/* facebookStyle */
.facebookStyle{
    height: 60px;
    width: 60px;
}


/* gridDiv */
.gridDive {
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 20px ;
    margin-top: 30px;
}

/* logoReaux */
.logoReaux {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    padding-top: 20px;
}
.div1 {
    width: 100%;
    background-color: black;
    height: 1px;
}

.div2 {
    flex: none;
    padding: 0 20px;
}