*{
    margin: 0;
    padding: 0;
}

/* header */
.header {
    text-align: center;
    padding-bottom: 30px;
}

/* Catégorie*/
.categorie {
    padding: auto;
    border-radius: 25px;
}

.containers {
    background-color: #ffffff;
}

.Age-taille-poids {
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 500px;
}

.Age-taille-poids input {
    width: 90%;
    justify-content: space-around;
} 

.residence {
    height: 30px;
}

.button {
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 500px;
    justify-content: space-around;
}

.buttonStyle1 {
    width: 30% !important;
    margin-left: 10px ;
    outline: none;
    border: none;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 14px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 10px !important;
}